/* =========================
   HOME
========================= */

#home {
  flex: 1;
  display: flex;
  align-items: center;
}

.home-grid {
  width: 100%;
  max-width: 1400px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4.92vh;
  align-content: center;
  padding: 1.54vh;
}

.home-tile {
  position: relative;
  background-color: #f3f3f3;
  border-radius: 1.23vh;

  aspect-ratio: 1 / 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2.46vh;

  cursor: pointer;
  box-shadow: 0 0.92vh 2.77vh rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

/* =========================
   LIGHT MODE - BORDA ANIMADA
========================= */

.home-tile::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 1.23vh;
  padding: 0.46vh;
  opacity: 0;
  z-index: 0;

  background: linear-gradient(90deg, #2b6cb0, #00c6ff, #00ffcc, #2b6cb0);
  background-size: 200% 100%;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
}

.home-tile:hover::before {
  opacity: 1;
  animation: borderFlow 2s linear infinite alternate;
}

/* =========================
   DARK MODE
========================= */

body.dark .home-tile {
  background-color: #020617;
}

body.dark .home-tile::before {
  background: linear-gradient(
    90deg,
    #00c6ff,
    #00ffcc,
    #7cff00,
    #ffd000,
    #ff7a00,
    #ff004c,
    #b000ff,
    #00c6ff
  );
  background-size: 300% 100%;
}

/* =========================
   ANIMAÇÃO
========================= */

@keyframes borderFlow {
  from {
    background-position: 0% 50%;
  }
  to {
    background-position: 100% 50%;
  }
}

.home-tile > * {
  position: relative;
  z-index: 1;
}

.home-tile:hover {
  transform: translateY(-0.31vh);
  transition: 0.15s ease;
}

.home-img {
  width: 40%;
  height: auto;
  object-fit: contain;
}

.home-label {
  font-size: clamp(11px, 1vw, 15px);
  font-weight: bold;
  color: #2b6cb0;
  text-align: center;
  letter-spacing: 0.05em;
}

body.dark .home-label {
  color: #93c5fd;
}

.home-badge {
  position: absolute;
  top: 1.54vh;
  right: 1.54vh;
  background: #c53030;
  color: #fff;
  font-size: 1.85vh;
  width: 3.38vh;
  height: 3.38vh;
  border-radius: 999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}
